@layer theme, base, components, utilities, font, tabler-icons;
@import "./theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);
@import "./averiaLibre.css" layer(font);
@import "@tabler/icons-webfont/dist/tabler-icons.css" layer(tabler-icons);

@layer base {
    body {
        @apply bg-neutral-100 text-neutral-900 dark:bg-neutral-900 dark:text-neutral-100;
        @apply font-averia-libre;
    }
    h1 {
        font-size: var(--text-4xl);
    }
    h2 {
        font-size: var(--text-3xl);
    }
    h3 {
        font-size: var(--text-2xl);
    }
    p {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

@layer tabler-icons {
    * {
        font-display: swap;
    }
}