---
import Base from "../layouts/Base.astro";
---

<Base title="Impressum">
    <div
        class="flex items-center justify-center flex-col max-w-2/3 mx-auto min-h-screen"
    >
        <h1 class="mb-8">Impressum</h1>
        <p>
            <b>Angaben gemäß §5 TMG:</b><br />
            <br />
            Werk XLI (Chladni, Ewers, Kranz, Ley, Zahn) GbR<br />
            Cäcilie-Auer-Weg 1<br />
            89075 Ulm<br />
            <br />
            Kontakt:<br />
            E-Mail: info (at) werkxli.de <br />
            UsSt-ID-Nr.: DE369402600
            <br />
            <br />
            Inhaltlich verantwortlich gemäß §55 RStV:<br />
            <br />
            Werk XLI (Chladni, Ewers, Kranz, Ley, Zahn) GbR<br />
            Cäcilie-Auer-Weg 1<br />
            89075 Ulm<br />
            <br />
            Kontakt:<br />
            E-Mail: admin (at) werkxli.de<br />
            <br />
            Online-Streitbeilegung<br />
            Die Europäische Kommission stellt unter <a
                href="https://ec.europa.eu/consumers/odr/"
                target="_blank"
                rel="noopener">https://ec.europa.eu/consumers/odr/</a
            >
            eine Plattform zur Online-Streitbeilegung bereit, die Verbraucher für
            die Beilegung einer Streitigkeit nutzen können und auf der weitere Informationen
            zum Thema Streitschlichtung zu finden sind. Außergerichtliche Streitbeilegung
            Wir sind weder verpflichtet noch dazu bereit, im Falle einer Streitigkeit
            mit einem Verbraucher an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
            teilzunehmen.
        </p>
    </div>
</Base>
