---
import Base from '../layouts/Base.astro';
---

<Base title="Werk XLI">
  <!-- Content here -->
   <div class="min-h-screen flex flex-col items-center justify-center">
     <h1 class="text-4xl font-bold">Willkommen auf der Homepage von Werk XLI</h1>
     <!-- You can add more components or content here -->
     <br />
      <p class="mt-4 text-lg">Die Seite befindet sich noch im Aufbau.</p>
   </div>
</Base>
