---
import Base from '../layouts/Base.astro';

import Banner from '../components/banner/Banner.astro';
import Pressetsxt from '../content/markdown/pressetext.md';
---

<Base title="Werk XLI">
  <!-- Content here -->
   <div class="flex flex-col">
   <div class="flex justify-center items-center top-0 inset-x-0">
      <Banner />
   </div>
   <div class="min-h-screen flex flex-col justify-center max-w-2/3 mx-auto">
     <Pressetsxt />
   </div>
   </div>
</Base>
