---
import Base from '../layouts/Base.astro';

import Banner from '../components/banner/Banner.astro';
import Pressetsxt from '../content/markdown/pressetext.md';
---

<Base title="Werk XLI">
  <!-- Content here -->
   <div>
      <Banner />
   </div>
   <div class="flex self-auto flex-col max-w-2/3 mx-auto mt-12 mb-12">
     <Pressetsxt />
   </div>
</Base>
