---
import Logo from "../logo/Logo.astro";
---

<nav
  class="font-black text-white text-shadow-outline text-3xl flex p-2 bg-gradient-to-b dark:from-black from-white to-transparent"
>
  <div class="flex-1 flex justify-around items-center">
    <a href="/#live" class="p-4">Live</a>
    <a href="/#music" class="p-4">Musik</a>
    <a href="/videos" class="p-4">Videos</a>
  </div>
  <a
    href="/"
    class="p-4 w-[12rem] flex justify-center items-center"
    aria-label="Zurück zur Homepage"><Logo /></a
  >
  <div class="flex-1 flex justify-around items-center">
    <a href="/gallery" class="p-4">Galerie</a>
    <a href="/shop" class="p-4">Shop</a>
    <a href="/contact" class="p-4">Kontakt</a>
  </div>
</nav>
