---
import Logo from "../logo/Logo.astro";
---

<nav class="text-2xl flex flex-row justify-evenly items-stretch p-4 bg-gradient-to-b from-black/50 to-transparent">
    <div class="basis-2/5 grow justify-center items-center flex">
        <div class="grow justify-center flex">
            <a href="/#live" class=" p-4">Live</a>
        </div>
        <div class="grow justify-center flex">
            <a href="/#music" class=" p-4">Musik</a>
        </div>
        <div class="grow justify-center flex">
            <a href="/videos" class=" p-4">Videos</a>
        </div>
    </div>
    <div class="basis-1/5 justify-center items-center flex">
        <a href="/"><Logo /></a>
    </div>
    <div class="basis-2/5 grow justify-center items-center flex">
        <div class="grow justify-center flex">
            <a href="/gallery" class=" p-4">Gallerie</a>
        </div>
        <div class="grow justify-center flex">
            <a href="/shop" class=" p-4">Shop</a>
        </div>
        <div class="grow justify-center flex">
            <a href="/contact" class=" p-4">Kontakt</a>
        </div>
    </div>
</nav>
