---
import FullMenu from "./FullMenu.astro";
import CurtainMenu from "./CurtainMenu.astro";
---

<div class="hidden lg:block fixed inset-x-0 top-0 z-50">
  <FullMenu />
</div>
<div class="block lg:hidden fixed inset-x-0 top-0 z-50">
  <CurtainMenu />
</div>