---
import Logo from "./Logo.astro";
---

<nav class="flex flex-row justify-evenly items-stretch p-4">
    <div class="basis-2/5 grow justify-center items-center flex">
        <div class="grow justify-center flex">
            <a href="/#live">Live</a>
        </div>
        <div class="grow justify-center flex">
            <a href="/#music">Musik</a>
        </div>
        <div class="grow justify-center flex">
            <a href="/videos">Videos</a>
        </div>
    </div>
    <div class="basis-1/5 justify-center items-center flex">
        <a href="/"><Logo /></a>
    </div>
    <div class="basis-2/5 grow justify-center items-center flex">
        <div class="grow justify-center flex">
            <a href="/gallery">Gallerie</a>
        </div>
        <div class="grow justify-center flex">
            <a href="/shop">Shop</a>
        </div>
        <div class="grow justify-center flex">
            <a href="/contact">Kontakt</a>
        </div>
    </div>
</nav>
