---
const year = new Date().getFullYear();
---

<footer
  class="mt-auto text-center text-white text-base text-shadow-outline w-full p-4 bg-gradient-to-b from-transparent to-white dark:to-black"
>
  <p>&copy; {year} Werk XLI. All rights reserved.</p>
  <nav>
    <a href="/imprint">Impressum</a>
    <span class="mx-1">|</span>
    <a href="/privacy-policy">Datenschutz</a>
    <span class="mx-1">|</span>
    <a href="/terms">AGB</a>
    <span class="mx-1">|</span>
    <a href="/widerruf">Widerruf</a>
  </nav>
</footer>
