---
import Menu from "../components/menus/Menu.astro";
import Footer from "../components/footer/DefaultFooter.astro";
import "../styles/global.css";
import CookieConsent from "../components/cookieConsent/CookieConsent.astro";
const { title = "Werk XLI" } = Astro.props;
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
      media="(prefers-color-scheme: dark)"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon_dark.svg"
      media="(prefers-color-scheme: light)"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="min-h-screen flex flex-col">
    <Menu />
    <main>
      <slot />
      <CookieConsent privacyPolicyUrl="/privacy-policy" />
    </main>
    <Footer />
  </body>
  <script defer src="https://umami.werkxli.de/script.js" data-website-id="1611b63a-51da-4069-883e-2d659351ad67"></script>
</html>
