---
import Menu from '../components/Menu.astro';
import './src/styles/global.css'
const { title = "Werk XLI" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" media="(prefers-color-scheme: dark)"/>
		<link rel="icon" type="image/svg+xml" href="/favicon_dark.svg" media="(prefers-color-scheme: light)"/>
		<meta name="generator" content={Astro.generator} />
		<title>{ title }</title>
	</head>
	<body>
		<Menu />
		<slot />
	</body>
</html>
